.footer{
	background-color: deeppink;
	width: 100%;
	position: relative;
	margin: 0px;
}

.footer p{
	color: white;
	text-align: center;
	padding: 5px 0;
	font-size: 15px;
	margin: 0px;
	font-family: 'Audiowide', cursive;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: darkslateblue;
}