.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0px 100px 0px;
  justify-content: space-around;
  align-content: flex-start;
}


img {

  height: 200px;
  width: 270px;
}

card {
  position: center;
  height: 400px;
  width: 400px;
  padding: 10px;
}