.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0px 100px 0px;
  justify-content: space-around;
  align-content: flex-start;
  background-image: url('../src/images/vaporwave-grid-background-8.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  margin: 0px;

  

}

img {

  height: 200px;
  width: 270px;
}

card {
  position: center;
  height: 400px;
  width: 400px;
  padding: 10px;
}